@model IEnumerable<Estoque.Models.categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeCategoria)
            </td>
            <td class="btn-group" role="group" aria-label="Basic example">
                <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.idCategoria">Editar</a> 
                <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.idCategoria">Detalhes</a>
                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idCategoria">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
