@model Estoque.Models.produtos

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorProduto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorCompra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valorVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valorVenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataProduto)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.idProdutos">Editar</a> 
    <a class="btn btn-warning" asp-action="Index">Voltar</a>
</div>
