@model IEnumerable<Estoque.Models.produtos>

@{
    ViewData["Title"] = "Index";
}

<h1>Produtos</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="Create">Adicionar</a>
</p>

<form asp-controller="produtos" asp-action="Index" method="get">
    
        <label class="mb-3">Nome do produto: </label>
        <input class="mb-3" type="text" name="buscarProduto" />
        <input class="btn btn-primary p-1 mb-2" type="submit" value="Filtrar" />
    
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valorVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataProduto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataProduto)
            </td>
            <td class="btn-group" role="group" aria-label="Basic example">
                <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.idProdutos">Editar</a> 
                <a type="button" class="btn btn-primary" asp-action="Details" asp-route-id="@item.idProdutos">Detalhes</a> 
                <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idProdutos">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
